
/1_Hello_World/Library
/2_Number_Wizard_Console/Library
/1_Hello_World/Assets/Scenes
/2_Number_Wizard_Console/Assets/Scenes
/1_Hello_World/Logs
/2_Number_Wizard_Console/Logs
/1_Hello_World/obj
/2_Number_Wizard_Console/obj
/1_Hello_World/Packages
/2_Number_Wizard_Console/Packages
/1_Hello_World/ProjectSettings
/2_Number_Wizard_Console/ProjectSettings

*SampleScene.unity
*SampleScene.unity.meta



.vs
Assembly-CSharp*
*.sln
*cs.meta
*Scenes.meta
*unity
*unity.meta